extends ../layout

block content
  h1= title
  p
   | Complete your information



  form(method='POST' action='/users/register')
    div.form-group
    label(for='name') Name:
    input#name.form-control(type='text', placeholder='first and last' name='name')
    div.form-group
    label(for='email') Email:
    input#email.form-control(type='email', placeholder='name@email.com' name='email')
    div.form-group
    label(for='favoriteBook') Favorite Book:
    input#favoriteBook.form-control(type='text', placeholder='title of book' name='favoriteBook')
    div.form-group
    label(for='age') Age:
    input#age.form-control(type='text' name='age')
    div.form-group
    button.btn.btn-primary(type='submit') Sign up